In [1]:
import pandas as pd

In [57]:
aforos = pd.read_csv("aforos_movistar_arena.csv", header=None)

In [32]:
precios = pd.read_csv("precios_movistar_arena.csv")

In [34]:
precios = precios.transpose()

In [35]:
new_header = precios.iloc[0]
precios = precios[1:]
precios.columns = new_header
precios.head()

Artistas,Lugar,S: Pacífico Medio,S: Pacífico Alto,S: Pacífico Bajo,S: Cancha VIP,S: Andes,S: Pacífico Lateral,S: Cancha General,S: Silla de Ruedas,S: +1 Silla de Ruedas,...,S: Tribuna,S: Silla de Ruedas y +1,S: Platea Baja,S: Platea Baja Preferencial,S: Diamante Central,S: Diamante Lateral,S: Silver,S: Platea Baja Norte,S: Platea Baja Sur,S: Galeria
Metallica,Estadio Nacional,"$161,000","$138,000","$112,700","$97,750","$74,750","$65,550","$51,750","$36,800","$36,800",...,0,0,0,0,0,0,0,0,0,"$36,800"
A-ha,Movistar Arena,$0,$0,$0,$0,$0,$0,$0,"$33,350","$33,350",...,"$33,350",$0,$0,$0,$0,$0,$0,$0,$0,$0
Soda Stereo,Estadio Nacional,"$120,800","$97,800","$109,300","$86,300","$57,500","$46,000","$36,800",$0,$0,...,$0,"$55,200",$0,$0,$0,$0,$0,$0,$0,"$28,800"
Kiss,Movistar Arena,$0,$0,$0,"$173,650",$0,$0,"$67,850",$0,$0,...,"$33,350",$0,"$113,850","$136,850",$0,$0,$0,$0,$0,$0
Kool & The Gang y KC and the Sunshine Band,Movistar Arena,$0,$0,$0,$0,$0,$0,$0,$0,$0,...,$0,$0,"$51,300",$0,"$171,000","$159,600","$68,400",$0,$0,$0

In [53]:
# pasamos columnas a int

for column in precios.columns[1:]:
    precios[column] = precios[column].str.replace('(\$|,)', '', regex=True).astype(int)

In [59]:
aforos.columns = ["sector", "aforo"]

In [63]:
aforos.set_index('sector')

                             aforo
sector
S: Platea Baja Norte           595
S: Platea Baja Sur             532
S: Cancha VIP                 2310
S: Cancha General             1890
S: Diamante                    126
S: Platinum 1/2 sillas         356
S: Platinum                    631
S: Platea Zafiro               583
S: Platea Royal                358
S: Golden 1/2 sillas           264
S: Golden                      582
S: Platea Alta 1/2 Sillas      790
S: Platea Alta                2731
S: Tribuna                      96
S: Platea Baja Silver          667
S: Platea Baja                2731
S: Platea Baja Preferencial   1332
S: Diamante Central             42
S: Diamante Lateral             84
S: Silver                      556

In [85]:
# nos quedamos con conciertos en movistar arena

precios = precios.where(precios.Lugar == 'Movistar Arena').dropna()
precios.head()

Artistas,Lugar,S: Pacífico Medio,S: Pacífico Alto,S: Pacífico Bajo,S: Cancha VIP,S: Andes,S: Pacífico Lateral,S: Cancha General,S: Silla de Ruedas,S: +1 Silla de Ruedas,...,S: Tribuna,S: Silla de Ruedas y +1,S: Platea Baja,S: Platea Baja Preferencial,S: Diamante Central,S: Diamante Lateral,S: Silver,S: Platea Baja Norte,S: Platea Baja Sur,S: Galeria
A-ha,Movistar Arena,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33350.0,33350.0,...,33350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kiss,Movistar Arena,0.0,0.0,0.0,173650.0,0.0,0.0,67850.0,0.0,0.0,...,33350.0,0.0,113850.0,136850.0,0.0,0.0,0.0,0.0,0.0,0.0
Kool & The Gang y KC and the Sunshine Band,Movistar Arena,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,51300.0,0.0,171000.0,159600.0,68400.0,0.0,0.0,0.0
Gloria Gaynor,Movistar Arena,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,79200.0,69300.0,0.0,39600.0,39600.0,0.0

In [ ]:
precios.drop('Lugar', axis=1, inplace = True)

In [100]:
# se va a considerar una distribucion de media arena con sillas
# esto implica las siguientes columnasS: 

media_arena_sillas = precios.columns.where(precios.loc["A-ha"] > 0).dropna()

In [101]:
media_arena_sillas

Index(['S: Silla de Ruedas', 'S: +1 Silla de Ruedas', 'S: Diamante',
       'S: Platinum', 'S: Platea Zafiro', 'S: Platea Royal', 'S: Golden',
       'S: Platea Alta', 'S: Tribuna'],
      dtype='object', name='Artistas')

In [151]:
precios_media_arena = precios[media_arena_sillas.tolist()]

In [153]:
precios_media_arena

Artistas,S: Silla de Ruedas,S: +1 Silla de Ruedas,S: Diamante,S: Platinum,S: Platea Zafiro,S: Platea Royal,S: Golden,S: Platea Alta,S: Tribuna
A-ha,33350.0,33350.0,112700.0,102350.0,80850.0,82800.0,77050.0,46000.0,33350.0
Kiss,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48300.0,33350.0
Kool & The Gang y KC and the Sunshine Band,0.0,0.0,0.0,114000.0,0.0,0.0,91200.0,39900.0,0.0
Gloria Gaynor,0.0,0.0,0.0,59400.0,0.0,0.0,49500.0,29700.0,0.0

In [154]:
precios_media_arena

Artistas,S: Silla de Ruedas,S: +1 Silla de Ruedas,S: Diamante,S: Platinum,S: Platea Zafiro,S: Platea Royal,S: Golden,S: Platea Alta,S: Tribuna
A-ha,33350.0,33350.0,112700.0,102350.0,80850.0,82800.0,77050.0,46000.0,33350.0
Kiss,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48300.0,33350.0
Kool & The Gang y KC and the Sunshine Band,0.0,0.0,0.0,114000.0,0.0,0.0,91200.0,39900.0,0.0
Gloria Gaynor,0.0,0.0,0.0,59400.0,0.0,0.0,49500.0,29700.0,0.0

In [155]:
prop_vect = precios_media_arena.loc['A-ha'] / precios_media_arena.loc['A-ha']['S: Platea Alta']

In [156]:
prop_vect

Artistas
S: Silla de Ruedas       0.725000
S: +1 Silla de Ruedas    0.725000
S: Diamante              2.450000
S: Platinum              2.225000
S: Platea Zafiro         1.757609
S: Platea Royal          1.800000
S: Golden                1.675000
S: Platea Alta           1.000000
S: Tribuna               0.725000
Name: A-ha, dtype: float64

In [165]:
# rellenamos las entradas faltantes en base a las proporciones de la entrada completa

new_matrix = []
for (index, row) in precios_media_arena.iterrows():
    new_row = []
    for i in range(len(row)):
        if row[i] == 0:
            new_row.append(row['S: Platea Alta'] * prop_vect[i])
        else:
            new_row.append(row[i])
    new_matrix.append(new_row)
precios_media_arena_completos = pd.DataFrame(new_matrix)

In [169]:
precios_media_arena_completos.columns = precios_media_arena.columns
precios_media_arena_completos.index = precios_media_arena.index
precios_media_arena_completos

Artistas,S: Silla de Ruedas,S: +1 Silla de Ruedas,S: Diamante,S: Platinum,S: Platea Zafiro,S: Platea Royal,S: Golden,S: Platea Alta,S: Tribuna
A-ha,33350.0,33350.0,112700.0,102350.0,80850.000000,82800.0,77050.0,46000.0,33350.0
Kiss,35017.5,35017.5,118335.0,107467.5,84892.500000,86940.0,80902.5,48300.0,33350.0
Kool & The Gang y KC and the Sunshine Band,28927.5,28927.5,97755.0,114000.0,70128.586957,71820.0,91200.0,39900.0,28927.5
Gloria Gaynor,21532.5,21532.5,72765.0,59400.0,52200.978261,53460.0,49500.0,29700.0,21532.5

In [194]:
# aforos media arena
sectores = media_arena_sillas.tolist()
sectores

['S: Silla de Ruedas',
 'S: +1 Silla de Ruedas',
 'S: Diamante',
 'S: Platinum',
 'S: Platea Zafiro',
 'S: Platea Royal',
 'S: Golden',
 'S: Platea Alta',
 'S: Tribuna']

In [195]:
sectores = sectores[2:]

In [196]:
sectores

['S: Diamante',
 'S: Platinum',
 'S: Platea Zafiro',
 'S: Platea Royal',
 'S: Golden',
 'S: Platea Alta',
 'S: Tribuna']

In [205]:
aforos_media_arena = aforos.set_index('sector').loc[sectores]

In [206]:
aforos_media_arena

                  aforo
sector
S: Diamante         126
S: Platinum         631
S: Platea Zafiro    583
S: Platea Royal     358
S: Golden           582
S: Platea Alta     2731
S: Tribuna           96

In [208]:
# limpieza final

aforos_media_arena = aforos_media_arena.rename(index={
    'S: Diamante': 'diamante',
    'S: Platinum': 'platinum',
    'S: Platea Zafiro': 'platea_zafiro',
    'S: Platea Royal': 'platea_royal',
    'S: Golden': 'golden',
    'S: Platea Alta': 'platea_alta',
    'S: Tribuna': 'tribuna'
})

In [209]:
aforos_media_arena

               aforo
sector
diamante         126
platinum         631
platea_zafiro    583
platea_royal     358
golden           582
platea_alta     2731
tribuna           96

In [211]:
precios_media_arena_completos = precios_media_arena_completos.rename(columns={
    'S: Diamante': 'diamante',
    'S: Platinum': 'platinum',
    'S: Platea Zafiro': 'platea_zafiro',
    'S: Platea Royal': 'platea_royal',
    'S: Golden': 'golden',
    'S: Platea Alta': 'platea_alta',
    'S: Tribuna': 'tribuna'
})

In [212]:
precios_media_arena_completos

Artistas,S: Silla de Ruedas,S: +1 Silla de Ruedas,diamante,platinum,platea_zafiro,platea_royal,golden,platea_alta,tribuna
A-ha,33350.0,33350.0,112700.0,102350.0,80850.000000,82800.0,77050.0,46000.0,33350.0
Kiss,35017.5,35017.5,118335.0,107467.5,84892.500000,86940.0,80902.5,48300.0,33350.0
Kool & The Gang y KC and the Sunshine Band,28927.5,28927.5,97755.0,114000.0,70128.586957,71820.0,91200.0,39900.0,28927.5
Gloria Gaynor,21532.5,21532.5,72765.0,59400.0,52200.978261,53460.0,49500.0,29700.0,21532.5

In [216]:
precios_media_arena_completos = precios_media_arena_completos.drop(['S: Silla de Ruedas', 'S: +1 Silla de Ruedas'], axis=1)

In [225]:
# fila de promedios

precios_media_arena_completos

Artistas,diamante,platinum,platea_zafiro,platea_royal,golden,platea_alta,tribuna
A-ha,112700.0,102350.0,80850.000000,82800.0,77050.0,46000.0,33350.0
Kiss,118335.0,107467.5,84892.500000,86940.0,80902.5,48300.0,33350.0
Kool & The Gang y KC and the Sunshine Band,97755.0,114000.0,70128.586957,71820.0,91200.0,39900.0,28927.5
Gloria Gaynor,72765.0,59400.0,52200.978261,53460.0,49500.0,29700.0,21532.5

In [250]:
summary_ave_data = precios_media_arena_completos.copy().transpose()
summary_ave_data['precio_promedio'] = summary_ave_data.mean(numeric_only=True, axis=1)
summary_ave_data

,A-ha,Kiss,Kool & The Gang y KC and the Sunshine Band,Gloria Gaynor,precio_promedio
Artistas,,,,,
diamante,112700.0,118335.0,97755.000000,72765.000000,100388.750000
platinum,102350.0,107467.5,114000.000000,59400.000000,95804.375000
platea_zafiro,80850.0,84892.5,70128.586957,52200.978261,72018.016304
platea_royal,82800.0,86940.0,71820.000000,53460.000000,73755.000000
golden,77050.0,80902.5,91200.000000,49500.000000,74663.125000
platea_alta,46000.0,48300.0,39900.000000,29700.000000,40975.000000
tribuna,33350.0,33350.0,28927.500000,21532.500000,29290.000000

In [251]:
precios_media_arena = summary_ave_data['precio_promedio']

In [252]:
precios_media_arena.index.names = ['sector']
precios_media_arena

sector
diamante         100388.750000
platinum          95804.375000
platea_zafiro     72018.016304
platea_royal      73755.000000
golden            74663.125000
platea_alta       40975.000000
tribuna           29290.000000
Name: precio_promedio, dtype: float64

In [253]:
aforos_media_arena.to_csv("../clean_data/aforos_media_arena.csv")

In [254]:
precios_media_arena.to_csv("../clean_data/precios_media_arena.csv")

In [259]:
aforos_media_arena.index.tolist()

['diamante',
 'platinum',
 'platea_zafiro',
 'platea_royal',
 'golden',
 'platea_alta',
 'tribuna']